packages/bootstrap.3.3.7/content/Scripts/bootstrap.js
packages/
.vs/
DeXinYuan/bin/
DeXinYuan/obj/Debug/DeXinYuan.csproj.CoreCompileInputs.cache
DeXinYuan/obj/Debug/DeXinYuan.csprojAssemblyReference.cache
DeXinYuan/obj/
/DeXinYuan/Properties/PublishProfiles
