@{
    ViewBag.Title = "About";
    ViewBag.active = "Home/About";
}
<div class="met-banner banner-ny-h" data-height='' style=''>
    <div class="slick-slide">
        <img class="cover-image" src="/picture/11.jpg" sizes="(max-width: 767px) 767px" alt="公司简介">
    </div>
</div>
@*<div class="met-column-nav ">
        <div class="container">
            <div class="row">
                <div class="sidebar-tile">
                    <ul class="met-column-nav-ul invisible-xs">
                        <li>
                            <a href='about.html' class='link active'>
                                公司简介
                            </a>
                        </li>
                        <li>
                            <a href="message.html" class="link ">
                                在线留言
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@
<section class="met-show animsition">
    <div class="container">
        <div class="row">
            <div class="met-editor lazyload clearfix">
                <div>
                    <span style="font-size:14px;">
                        &nbsp;河北宸轩雕塑工艺品制造有限公司成立于2000年，地理位置优越，位于古时“尧帝故里奉国之城-河北唐县”，是一家专业生产销售城市雕塑、景观雕塑、铜佛像的厂家。主要产品有：城市雕塑、公司形象雕塑、园林景观雕塑、铜佛像、铜钟和铁钟、香炉塔炉佛教用品等；中心一贯坚持“质量第一，用户至上，优质服务，信守合同”的宗旨，凭借着高质量的产品，良好的信誉，优质的服务，产品畅销全国近三十多个省、市、自治区以及远销欧美、西亚等国家。竭诚与国内外商界宗教界合作，共同发展，共创辉煌！
                    </span>
                    <p>
                        &nbsp;

                    </p>
                    <hr />
                    <p>
                        <span style="font-size:14px; font-weight:bold;">
                            本中心声明：为了宗教界更快更好的发展，响应国家政策，寺院工程及用品一律优惠！欢迎宗教界朋友来来图来样加工订做，期待你的光临指导！
                        </span>
                    </p>
                    <p>
                        <span style="font-size:14px;">
                            宸轩铜雕的铸造方法有：精密铸造硅溶胶铸造、施蜡铸造、树脂砂铸造、锻铜制造、整体铸造、分体铸造等是国内一流的铸造技术。
                        </span>
                    </p>
                    <p>
                        <span style="font-size:14px;">
                            宸轩人的精神：塑一尊佛像、结佛缘、相好庄严、心欢喜欢，镏一镂黄金、积累宿世功德。用心塑造佛像、望佛悲悯加护、得以往生极乐！园无铜雕不秀，宝无铜雕不雅。涵天地之精华，缩山川之美妙。亘古日月放异彩，精雕为友品自洁。巧雕不语亦有情，怡神冶性是精灵。攻措生光，精描璀璨，雕琢成器，巧制玲珑。铜为浓缩的天体，雕为可收藏的大自然。表里俱佳丝丝入扣，形神兼备栩栩如生。我们从事的乃实在之大业，不朽之盛世。玉不琢，不成器，精诚所至，金石为开。经典是因为继承传统；一流是因为出自大师；坚定是因为脚踏实地；出色是因为点铜成金，我们将赋予它永恒的“生命”和灵性，您提供一张图纸或图片，我们将用铜雕塑阐释它的生动形象与精神内涵，我们将与您共同创造不朽的诗篇，凝固的音乐。追求完美，止于至善—是我们的企业文化。
                            我们生产雕塑：1、有详尽的计划。2、辛勤的工作。3、严格的纪律。4、对细微之处的专注。做到精益求精，精雕细琢，一丝不苟—这就是宸轩人的精神！宸轩铜雕以“质量第一，信誉可靠”的发展目标欢迎广大客户的光临。
                        </span>
                    </p>
                    @*<p>
                        <span style="font-size:14px; font-weight:bold;color:red;">
                            我们生产雕塑：
                        </span>
                        <ul style="font-size:14px;">
                            <li>1、有详尽的计划。</li>
                            <li>2、辛勤的工作。</li>
                            <li>3、严格的纪律。</li>
                            <li>4、对细微之处的专注。做到精益求精，精雕细琢，一丝不苟—这就是宸轩人的精神！宸轩铜雕以“质量第一，信誉可靠”的发展目标欢迎广大客户的光临。</li>
                        </ul>
                    </p>*@
                </div>
            </div>
        </div>
    </div>
</section>