@{
    ViewBag.Title = "Home Page";
    ViewBag.active = "Home/Index";
}
<div class="met-banner" data-height='' style=''>
    <div class="slick-slide">
        <img class="cover-image" src="/picture/1.jpg" sizes="(max-width: 767px) 767px" alt="幻灯二">
    </div>
    <div class="slick-slide">
        <img class="cover-image" src="/picture/2.jpg" sizes="(max-width: 767px) 767px" alt="幻灯一">
    </div>
</div>

<div class="met-index-hot met-index-body" id="hot">
    <div class="title">
        <h2 class="">
            产品中心
        </h2>
        <div class="home-line" style="background:url(/images/1514365123.png)center no-repeat;">
        </div>
        <p class="desc">
            我们用心为您做的更好
        </p>
    </div>
    <div class="container">
        <ul class="blocks-100 blocks-sm-2 blocks-md-4 blocks-xlg-4 " data-scale=''>
            <!--string(7) "product" -->
            <li class="">
                <div class="widget widget-article widget-shadow">
                    <div class="widget-header cover overlay overlay-hover">
                        <img class="cover-image overlay-scale" src="/img/1.jpg" alt="">
                    </div>
                    <div class="widget-body">
                        <h3 class="widget-title">
                            铜雕佛像
                        </h3>
                        <p class="des">
                            佛像是造像数量最多的一类。包括、强巴佛、观音菩萨、阿弥陀佛等等。广义概念的佛像也包括菩萨等佛教所有造像...
                        </p>
                        <div class="widget-body-footer">
                            <a class="btn btn-info waves-effect waves-light" href="productshow.html">
                                查看详情
                            </a>
                            <div class="widget-actions pull-right">
                                <a href="#">
                                    关注人数：121
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="">
                <div class="widget widget-article widget-shadow">
                    <div class="widget-header cover overlay overlay-hover">
                        <img class="cover-image overlay-scale" src="/img/2.jpg" alt="">
                    </div>
                    <div class="widget-body">
                        <h3 class="widget-title">
                            铜雕人物
                        </h3>
                        <p class="des">
                            小叶黄杨是黄杨科，黄杨属灌木，生长低矮，枝条密集，枝圆柱形，小枝四棱形，叶薄革质，阔椭圆形或阔卵形，叶片无光或...
                        </p>
                        <div class="widget-body-footer">
                            <a class="btn btn-info waves-effect waves-light" href="productshow.html">
                                查看详情
                            </a>
                            <div class="widget-actions pull-right">
                                <a href="#">
                                    关注人数：57
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="">
                <div class="widget widget-article widget-shadow">
                    <div class="widget-header cover overlay overlay-hover">
                        <img class="cover-image overlay-scale" src="/img/3.jpg" alt="">
                    </div>
                    <div class="widget-body">
                        <h3 class="widget-title">
                            铜雕动物
                        </h3>
                        <p class="des">
                            云杉别名茂县云杉、茂县杉等。为乔木。高达45米，胸径达1米；树皮淡灰褐色或淡褐灰色，裂成不规则鳞片或稍厚的块片脱落...
                        </p>
                        <div class="widget-body-footer">
                            <a class="btn btn-info waves-effect waves-light" href="productshow.html">
                                查看详情
                            </a>
                            <div class="widget-actions pull-right">
                                <a href="#">
                                    关注人数：85
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="">
                <div class="widget widget-article widget-shadow">
                    <div class="widget-header cover overlay overlay-hover">
                        <img class="cover-image overlay-scale" src="/img/4.jpg" alt="">
                    </div>
                    <div class="widget-body">
                        <h3 class="widget-title">
                            铜雕浮
                        </h3>
                        <p class="des">
                            黄金蜜糖李：新引入澳大利亚品种，果面果肉均为金黄色，很有透明立体感，果大质优，单果重100-160克，含糖量17％，浓甜而...
                        </p>
                        <div class="widget-body-footer">
                            <a class="btn btn-info waves-effect waves-light" href="productshow.html">
                                查看详情
                            </a>
                            <div class="widget-actions pull-right">
                                <a href="#">
                                    关注人数：79
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="hot-btns">
            <a href="@Url.Action("Index","Product")">
                查看更多
            </a>
        </div>
    </div>
</div>
<!--string(4) "news" string(4) "news" -->

<div class="met-index-about met-index-body" id="about">
    <div class="title">
        <h2 class="">
            工程案例
        </h2>
        <div class="home-line" style="background:url(/images/1514365123.png)center no-repeat;">
        </div>
        <p class="desc">
        </p>
    </div>
    <div class="container">
        <div class="about-list">
            <div>
                <div class="col-md-6 img">
                    <img src="/img/g1.jpg" alt="">
                </div>
                <div class="col-md-6 text">
                    <h3>
                        某市大型铜鼎
                        <span>
                            / 01
                        </span>
                    </h3>
                    <p>
                        我社坚持以质量求生存！以技术求发展！以诚信求稳定！为客户提供优质售后服务是我们的承诺！我们坚持以质量为本、坚持重合同、守信用、优质服务。愿与国内各界歇诚合作，提供优质良种苗木，并提供接穗、嫁接、及售后服务。欢迎各界朋友来人来电咨询、考察、指导！共创双赢！...
                    </p>
                    <a href="jidi.html" title="樱桃种植基地" target='_self' class="btn btn-info waves-effect waves-light">
                        查看更多
                    </a>
                </div>
            </div>
            <div>
                <div class="col-md-6 img">
                    <img src="/img/g2.jpg" alt="">
                </div>
                <div class="col-md-6 text">
                    <h3>
                        猕猴桃种植基地
                        <span>
                            / 02
                        </span>
                    </h3>
                    <p>
                        我社坚持以质量求生存！以技术求发展！以诚信求稳定！为客户提供优质售后服务是我们的承诺！我们坚持以质量为本、坚持重合同、守信用、优质服务。愿与国内各界歇诚合作，提供优质良种苗木，并提供接穗、嫁接、及售后服务。欢迎各界朋友来人来电咨询、考察、指导！共创双赢！...
                    </p>
                    <a href="jidi.html" title="猕猴桃种植基地" target='_self' class="btn btn-info waves-effect waves-light">
                        查看更多
                    </a>
                </div>
            </div>
            <div>
                <div class="col-md-6 img">
                    <img src="/img/g3.jpg" alt="">
                </div>
                <div class="col-md-6 text">
                    <h3>
                        云杉苗种植基地
                        <span>
                            / 03
                        </span>
                    </h3>
                    <p>
                        云杉幼苗对干燥的抵抗力弱，耐阴湿，应经常浇水以保持湿润，对阳光抵抗力弱，接草后应架设荫棚，以避免日灼危害。苗木生长缓慢，一般当年不进行间苗。云杉幼树期易受晚霜为害，故多设荫棚、栽植在高大苗木下方，冬季进行保护防御。云杉不易移植，多采取带土移植，移植时应仔细操作，减少对根系和枝叶的伤害，以提高成活率。...
                    </p>
                    <a href="jidi.html" title="云杉苗种植基地" target='_self' class="btn btn-info waves-effect waves-light">
                        查看更多
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="met-index-imgnews met-index-body" id="news">
    <div class="title">
        <h2 class="">
            关于我们
        </h2>
        <div class="home-line" style="background:url(/images/1514365123.png)center no-repeat;">
        </div>
        <p class="desc">
        </p>
    </div>
    <div class="container">
        <div class="clearfix" data-plugin="matchHeight">
            <div class="col-md-7 col-xs-12 left-news">

                <div class="slick" id="imgnews-slick">
                    <div>
                        <a href="newsshow.html" title="金叶榆行情下跌，来源于“跟风”太紧！" target='_self'>

                            <img class="cover-image" src="/img/g3.jpg" sizes="(max-width: 991px) 991px"
                                 alt="">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-md-5 col-xs-12 right-news news-ul">
                <span style="font-size:large;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;河北宸轩雕塑工艺品制造有限公司成立于2000年，地理位置优越，位于古时“尧帝故里奉国之城-河北唐县”，是一家专业生产销售城市雕塑、景观雕塑、铜佛像的厂家。主要产品有：城市雕塑、公司形象雕塑、园林景观雕塑、铜佛像、铜钟和铁钟、香炉塔炉佛教用品等；中心一贯坚持“质量第一，用户至上，优质服务，信守合同”的宗旨，凭借着高质量的产品，良好的信誉，优质的服务，产品畅销全国近三十多个省、市、自治区以及远销欧美、西亚等国家。竭诚与国内外商界宗教界合作，共同发展，共创辉煌！
                </span>
            </div>
        </div>
        
    </div>
</div>


