
@{
    ViewBag.active = "Product/News";
    ViewBag.Title = "News";
}

<div class="bread_bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="bread_nav">
                    <span>您的位置：</span><a href="" tppabs="http://demo.weboss.hk/h127/">首 页</a> &gt;
                    <a href="" tppabs="http://demo.weboss.hk/h127/page/html">新闻中心</a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <!-- right -->
        <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">

            <div class="right_head">
                <h2><span>公司新闻</span></h2>
            </div>
            <ul class="right_new">

                <li>
                    <a href="../html/-404.html" tppabs="http://demo.weboss.hk/h127/news/html/?404.html" title="HTML5提供了一些新的元素和属性
">
                        HTML5提供了一些新的元素和属性
                    </a><span class="news_time">2010-01-25</span>
                </li>

                <li>
                    <a href="../html/-413.html" tppabs="http://demo.weboss.hk/h127/news/html/?413.html" title="HTML5提供了一些新的元素和属性
">
                        HTML5提供了一些新的元素和属性
                    </a><span class="news_time">2010-01-25</span>
                </li>

                <li>
                    <a href="../html/-392.html" tppabs="http://demo.weboss.hk/h127/news/html/?392.html" title="HTML5提供了一些新的元素和属性
">
                        HTML5提供了一些新的元素和属性
                    </a><span class="news_time">2010-01-25</span>
                </li>

                <li>
                    <a href="../html/-414.html" tppabs="http://demo.weboss.hk/h127/news/html/?414.html" title="HTML5提供了一些新的元素和属性
">
                        HTML5提供了一些新的元素和属性
                    </a><span class="news_time">2010-01-25</span>
                </li>

                <li>
                    <a href="../html/-415.html" tppabs="http://demo.weboss.hk/h127/news/html/?415.html" title="HTML5提供了一些新的元素和属性
">
                        HTML5提供了一些新的元素和属性
                    </a><span class="news_time">2010-01-25</span>
                </li>

                <li>
                    <a href="../html/-416.html" tppabs="http://demo.weboss.hk/h127/news/html/?416.html" title="HTML5提供了一些新的元素和属性
">
                        HTML5提供了一些新的元素和属性
                    </a><span class="news_time">2010-01-25</span>
                </li>

                <li>
                    <a href="../html/-417.html" tppabs="http://demo.weboss.hk/h127/news/html/?417.html" title="HTML5提供了一些新的元素和属性
">
                        HTML5提供了一些新的元素和属性
                    </a><span class="news_time">2010-01-25</span>
                </li>

                <li>
                    <a href="../html/-418.html" tppabs="http://demo.weboss.hk/h127/news/html/?418.html" title="HTML5提供了一些新的元素和属性
">
                        HTML5提供了一些新的元素和属性
                    </a><span class="news_time">2010-01-25</span>
                </li>

                <li>
                    <a href="../html/-419.html" tppabs="http://demo.weboss.hk/h127/news/html/?419.html" title="HTML5提供了一些新的元素和属性
">
                        HTML5提供了一些新的元素和属性
                    </a><span class="news_time">2010-01-25</span>
                </li>

                <li>
                    <a href="../html/-420.html" tppabs="http://demo.weboss.hk/h127/news/html/?420.html" title="HTML5提供了一些新的元素和属性
">
                        HTML5提供了一些新的元素和属性
                    </a><span class="news_time">2010-01-25</span>
                </li>

            </ul>
            <div class="page">
                <span class="current">1</span><a href="index.php-page=2&catid=86&myord=dtime&myshownums=&showtj=&showdate=&author=&key=.htm"
                                                 tppabs="http://demo.weboss.hk/h127/news/class/index.php?page=2&catid=86&myord=dtime&myshownums=&showtj=&showdate=&author=&key=">2</a><a href="index.php-page=2&catid=86&myord=dtime&myshownums=&showtj=&showdate=&author=&key=.htm"
                                                                                                                                                                                         tppabs="http://demo.weboss.hk/h127/news/class/index.php?page=2&catid=86&myord=dtime&myshownums=&showtj=&showdate=&author=&key=">&raquo;</a>
                </ul>
            </div>

        </div>

        <!-- left -->
        <div class="col-xs-12 col-sm-4 col-md-3">
            <h3 class="left_h3"><span>导航栏目</span></h3>
            <div class="left_column">
                <ul class="left_nav_ul" id="firstpane">

                    <li>
                        <a class="biglink" href="-86.html"
                           tppabs="http://demo.weboss.hk/h127/news/class/?86.html">公司新闻</a>
                    </li>
                    <ul class="left_snav_ul">

                        <li>
                            <a href="-102.html" tppabs="http://demo.weboss.hk/h127/news/class/?102.html"
                               target="_self">部门新闻</a>
                        </li>

                    </ul>

                    <li>
                        <a class="biglink" href="-99.html"
                           tppabs="http://demo.weboss.hk/h127/news/class/?99.html">行业新闻</a>
                    </li>
                    <ul class="left_snav_ul"></ul>

                    <li>
                        <a class="biglink" href="-106.html"
                           tppabs="http://demo.weboss.hk/h127/news/class/?106.html">常见问题</a>
                    </li>
                    <ul class="left_snav_ul"></ul>

                </ul>
            </div>
            <div class="left_news">
                <h3 class="left_h3"><span>新闻中心</span></h3>

                <ul class="left_news">

                    <li>
                        <a href="../html/-431.html" tppabs="http://demo.weboss.hk/h127/news/html/?431.html"
                           title="如何解决光扩散PC注塑成型">如何解决光扩散PC注塑成型</a>
                    </li>

                    <li>
                        <a href="../html/-430.html" tppabs="http://demo.weboss.hk/h127/news/html/?430.html"
                           title="充电器外壳阻燃防火PC 充">充电器外壳阻燃防火PC 充</a>
                    </li>

                    <li>
                        <a href="../html/-429.html" tppabs="http://demo.weboss.hk/h127/news/html/?429.html"
                           title="如何解决导电PC注塑件熔接">如何解决导电PC注塑件熔接</a>
                    </li>

                    <li>
                        <a href="../html/-428.html" tppabs="http://demo.weboss.hk/h127/news/html/?428.html"
                           title="HTML5提供了一些新的元素">HTML5提供了一些新的元素</a>
                    </li>

                </ul>

            </div>
            <div class="left_contact">
                <h3 class="left_h3" style="margin-bottom:20px;"><span>联系我们</span></h3>
                <p>
                    联系人：吴先生
                </p>
                <p>
                    手机：18926129998
                </p>
                <p>
                    电话：020-22043297
                </p>
                <p>
                    邮箱：510551@qq.com
                </p>
                <p>
                    地址： 广东省广州市天河区天平架沙太路沙太路
                </p>
            </div>
        </div>

    </div>
</div>